#list-header {
  position: fixed;
  top: 50px;
  background-color: #fff;
  width: calc(100vw - 360px);

  #header-container {
    padding-left: 0 !important;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
    h2 {
      flex: 11;
    }
  }
}

#add-new-task-container {
  padding: 7px !important;
}

#list-children {
  margin-top: 70px;
  padding: 10px !important;
}

.center-text {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  #list-header {
    width: 85vw !important;
    padding-left: 0 !important;
  }
}
