textarea {
  font-size: large;
  font-weight: bold;
  resize: none;
  width: 100%;
  border: 0;
  cursor: default;
  outline: none;
  color: #000;
}

.edit-mode {
  border-radius: 4px;
  border: 2px solid #338ed5;
  box-shadow: 1px 1px 10px 1px #318ed5b1;
  cursor: text;
}
