#landing {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: calc(100vh - 70px);
}

#login-div {
  background-color: #c4def2 !important;
  align-self: center;
  padding: 15px;
  border-radius: 8px;
}

.landing-button {
  padding: 7px;
  font-weight: bold;
  border-radius: 5px;
  border: 0;
  color: #fff !important;
  cursor: pointer;
  font-size: 18px;
  width: 200px !important;
  margin-bottom: 15px;
  background-color: #318ed5;
}

.landing-button:hover {
  background-color: #579bce;
}

#state-change-btn {
  position: absolute;
  top: 70px;
  right: 20px;
}